                /* logo */
        .skin-blue .main-header .logo {
                              background-color: #073660;
                              }

        /* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: #073660;
                              }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #073660;
                              }        

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #073660;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #2FB9AB;
                              }
                              
        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #073660;
                              color: #FFFFFF;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #2FB9AB;
                              }
                              
        /* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #2FB9AB;
                              }
                              
        p {
          font-size: 20px;
          font: Arial;
        }
        
        li {
          font-size: 20px;
          font: Arial;
        }
        
        h3 {
          font-size: 30px;
          font: Arial;
        }
        
        h2 {
          font-size: 40px;
          font: Arial;
        }
        
        h1 {
          font-size: 50px;
          font: Arial;
        }
                              